/* Estilos para la imagen */
.tema2 {
    display: block;
    max-width: 80%; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin: 20px auto; /* Centra la imagen */
    border-radius: 10px; /* Esquinas redondeadas para mejor estética */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    margin-top: 20px; /* Añadir más margen arriba */
    margin-bottom: 30px;
}

h1.text-center {
    margin-top: 30px; /* Aumenta el margen superior */
    margin-bottom: 20px; /* Aumenta el margen inferior */
}

/* Estilos para las columnas */
.contenedor-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    gap: 20px;
    margin-top: 40px;
}

/* Ajustar cada columna */
.columna {
    flex: 1;
    min-width: 300px; /* Asegura que no se vuelva demasiado pequeña en pantallas reducidas */
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Agrega transición suave */
}

/* Efecto de zoom cuando se pasa el ratón sobre la columna */
.columna:hover {
    transform: scale(1.05); /* Escala la columna al 105% de su tamaño */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte para resaltar */
}

.col-md-6 {
    flex: 1; /* Cada columna dentro de la fila ocupará el mismo espacio */
    min-width: 300px; /* Ancho mínimo de la columna */
    max-width: 600px; /* Ancho máximo de la columna */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.columna2 {
    display: flex;
    justify-content: space-between; /* Esto asegura que las columnas estén una al lado de la otra */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 40px;
    padding-bottom: 10px;
}

/* Asegura que el contenedor mantenga su margen superior */
.container.mt-4 {
    margin-top: 1.5rem !important; /* Restaura el margen superior de mt-4 */
    transition: none !important;
}
hr {
    width: 80%; /* Hace que la línea ocupe el 80% del contenedor */
    margin: 0 auto; /* Centra la línea en el contenedor */
}

h2 {
    color: #2980b9;
    font-size: 2em;
    margin-top: 20px;
}
h4{
    color: #34495e;
    font-size: 1.2em;
    margin-top: 10px;
    text-decoration: underline;
}
.ixd-title {
    color: #2980b9;
    font-size: 1.5em;
    margin-bottom: 10px;
}